<swiper-container class="mySwiper" navigation="true" space-between="30" slides-per-view="3" loop="true">
  <swiper-slide *ngFor="let slide of slides">
 <mat-card class="example-card" appearance="outlined">
        <p class="city-title">{{slide.name}}</p>
        <div class="test">
        <img
          mat-card-image
          class="card-image"
          [src]="slide.flag" alt="{{ slide.name }}"  
        />
        <mat-card-actions>
          <button mat-button class="card-button" (click)="onCountryClick(slide.id)" >
            Visiter
          </button>
        </mat-card-actions>
      </div>
        <section class="card">
          <mat-card-content class="card-content">
           
             <img class="mini-img" [src]="slide.flag" alt="{{ slide.name }}"  >
            <p class="font-400 card-text">
              clique ici pour voir tous les villes que j'ai parcourues
            </p>
          </mat-card-content>

        </section>
      </mat-card>
  </swiper-slide>
</swiper-container>
