body{
	color:rgb(2,48,74);
	z-index:1;
}

.logo{
	z-index:5;

    height: 40px;
}

.logo img{
        margin: 0;
        width: 150px;
        height: 100%;
        top: 0;
        left: 0;
        margin-left: 25px;
        /* margin-top: 25px; */
        display: block;
        cursor: pointer;
}

mat-toolbar{
    background-color: lightsteelblue;
    height:100px;
    color: white;
}
