body{
	color:rgb(2,48,74);
	z-index:1;
}



mat-toolbar{
    background-color: lightsteelblue;
    height:100px;
    color: white;
}


.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;

  margin: 0 auto; /* Center the container */
}